Repository anthonyoteri/hydroxide: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cargo:test, npm:test

.gitlab-ci.yml:

---
stages:
  - test
  - build

cargo:test:
  stage: test
  only:
    refs:
      - merge_requests
    changes:
      - src-tauri/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - src-tauri/target
  before_script:
    - mkdir -p src-frontend/build
    - cd src-tauri
    - cargo --version
    - rustc --version
  script:
    - cargo fmt --all --check
    - cargo clippy --tests -- -Dclippy::all -Dclippy::pedantic
    - cargo test

npm:test:
  stage: test
  only:
    refs:
      - merge_requests
    changes:
      - src-frontend/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - src-frontend/node_modules
  before_script:
    - cd src-frontend
    - node --version
    - npm --version
  script:
    - npm install
    - npm run prettier
    - npx eslint --ext=.js,.jsx,.tx,.tsx --max-warnings=0
    - npx tsc --noEmit
    - npm test --runInBand
tauri:build:
  stage: build
  only:
    refs:
      - merge_requests
      - tags
  cache:
    paths:
      - src-tauri/target
      - src-frontend/node_modules
  before_script:
    - cargo install tauri-cli
  script:
    - cargo tauri build
  artifacts:
    paths:
      - src-tauri/target/release/hydroxide
      - src-tauri/target/release/bundle/deb/hydroxide*.deb
      - src-tauri/target/release/bundle/appimage/hydroxide*.AppImage

Bump @reduxjs/toolkit from 1.9.1 to 1.9.2 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump create-react-app from 1.5.2 to 5.0.1 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump immer from 9.0.18 to 9.0.19 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump jest-environment-jsdom from 29.4.1 to 29.4.2 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump react-i18next from 12.1.4 to 12.1.5 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump react-router-dom from 6.8.0 to 6.8.1 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @types/node from 18.11.18 to 18.13.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump redux from 4.2.0 to 4.2.1 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump typescript from 4.9.4 to 4.9.5 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump prettier from 2.8.3 to 2.8.4 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @types/react from 18.0.27 to 18.0.28 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump jest-environment-jsdom from 29.4.2 to 29.4.3 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @types/react-dom from 18.0.10 to 18.0.11 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @testing-library/react from 13.4.0 to 14.0.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Create release pipeline only on tag'd version
  .gitlab-ci.yml
Due: cargo:test, npm:test

Update version to 1.0.1
  CHANGELOG.md
  src-frontend/package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo:test, npm:test

Bump @types/node from 18.13.0 to 18.14.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump i18next from 22.4.9 to 22.4.10 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @reduxjs/toolkit from 1.9.2 to 1.9.3 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump react-i18next from 12.1.5 to 12.2.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @types/node from 18.14.0 to 18.14.2 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump jest-environment-jsdom from 29.4.3 to 29.5.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump react-router-dom from 6.8.1 to 6.9.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump i18next-http-backend from 2.1.1 to 2.2.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump i18next from 22.4.10 to 22.4.13 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump styled-components from 5.3.6 to 5.3.9 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump immer from 9.0.19 to 9.0.21 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @types/lodash from 4.14.191 to 4.14.192 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump react-router-dom from 6.9.0 to 6.10.0 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump i18next from 22.4.13 to 22.4.14 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump @reduxjs/toolkit from 1.9.3 to 1.9.5 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Bump formik from 2.2.9 to 2.4.1 in /src-frontend
  src-frontend/package-lock.json
  src-frontend/package.json
Due: npm:test

Integrate with Github CI
  .github/dependabot.yml
  .github/workflows/rust.yml
Due: none

Test commit do not merge
  README.md
Due: none

Foobar
  .github/workflows/rust.yml
Due: none

Attempt to fix Rust workflows
  .github/workflows/rust.yml
Due: none

Trigger new build
  .github/workflows/rust.yml
Due: none

Re-enable format checks on all
  .github/workflows/rust.yml
Due: none

Fix indenting
  .github/workflows/rust.yml
Due: none

Remove unneded permissions
  .github/workflows/rust.yml
Due: none
