Repository anthonyoteri/hydroxide: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cargo:test, npm:test

.gitlab-ci.yml:

---
stages:
  - test
  - build

cargo:test:
  stage: test
  only:
    refs:
      - merge_requests
    changes:
      - src-tauri/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - src-tauri/target
  before_script:
    - mkdir -p src-frontend/build
    - cd src-tauri
    - cargo --version
    - rustc --version
  script:
    - cargo fmt --all --check
    - cargo clippy --tests -- -Dclippy::all -Dclippy::pedantic
    - cargo test

npm:test:
  stage: test
  only:
    refs:
      - merge_requests
    changes:
      - src-frontend/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - src-frontend/node_modules
  before_script:
    - cd src-frontend
    - node --version
    - npm --version
  script:
    - npm install
    - npm run prettier
    - npx eslint --ext=.js,.jsx,.tx,.tsx --max-warnings=0
    - npx tsc --noEmit
    - npm test --runInBand
tauri:build:
  stage: build
  only:
    refs:
      - merge_requests
      - tags
  cache:
    paths:
      - src-tauri/target
      - src-frontend/node_modules
  before_script:
    - cargo install tauri-cli
  script:
    - cargo tauri build
  artifacts:
    paths:
      - src-tauri/target/release/hydroxide
      - src-tauri/target/release/bundle/deb/hydroxide*.deb
      - src-tauri/target/release/bundle/appimage/hydroxide*.AppImage

Do not merge
  README.md
Due: none

Fix github workflows integration
  .github/workflows/ci.yml
  .github/workflows/rust.yml
Due: none

Split rust and typescript workflows
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Due: none

Fix pattern matching for path
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Due: none

Build Tauri app with Github
  .github/workflows/release.yml
Due: none

Publish release
  .github/workflows/release.yml
Due: none

Bump version to 1.0.2
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: cargo:test

Fix bad path in release build
  .github/workflows/release.yml
Due: none

Bump version to 1.0.2
  src-frontend/package.json
  src-tauri/tauri.conf.json
Due: cargo:test, npm:test

Apply newer formatting rules
  src-frontend/src/App.test.tsx
  src-frontend/src/assets/less/components/fonts.css
  src-frontend/src/components/Categories/CategoryDialog.tsx
  src-frontend/src/components/Categories/CategoryView.tsx
  src-frontend/src/components/Projects/ProjectDialog.tsx
  src-frontend/src/components/Projects/ProjectView.tsx
  src-frontend/src/components/Records/ProjectSelect.tsx
  src-frontend/src/components/Records/RecordDialog.tsx
  src-frontend/src/components/Records/RecordForm.tsx
  src-frontend/src/components/Records/RecordTable.tsx
  src-frontend/src/components/Records/RecordView.tsx
  src-frontend/src/components/Settings/SettingsBackup.tsx
  src-frontend/src/components/Shared/Form/FormikField.tsx
  src-frontend/src/components/Shared/Toolbar.tsx
  src-frontend/src/components/Timecard/TimecardView.tsx
  src-frontend/src/components/Timecard/helpers.ts
  src-frontend/src/index.tsx
  src-frontend/src/ipc.ts
  src-frontend/src/model/index.ts
  src-frontend/src/store/categories.ts
  src-frontend/src/store/projects.ts
  src-frontend/src/store/timeRecords.ts
  src-frontend/src/utils/formHelpers.ts
Due: npm:test

Update dependabot.yml
  .github/dependabot.yml
Due: none

Use timestamp_nanos_opt instead of deprecated function timestamp_nanos
  src-tauri/src/store.rs
Due: cargo:test

Code formatter
  src-tauri/src/store.rs
Due: cargo:test
